body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas{
    background-color: grey;
    border: solid 5px black;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 10;
  }

#menu input {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
}
  
#menu h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
 }
  
#menu button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
#menu button:hover {
    background-color: #666;
}

#game-over-panel{
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#game-over-panel button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  